/* loading img */
.loader {
    background-color:  #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}
.loader-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* 4dots loading */
.cup-box{
    display: flex;
    flex-direction: row;
   
}
.load {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.loader-box .load div:nth-of-type(1),
.loader-box .load div:nth-of-type(2),
.loader-box .load div:nth-of-type(3),
.loader-box .load div:nth-of-type(4) {
    background-color: #000000;
    margin: 0 6px;
    border-radius: 50%;  
    width: 20px;
    height: 20px;
}
.loader-box .load div:nth-of-type(1){
    animation: firstBounce 1s ease infinite alternate;
}
@keyframes firstBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}
.loader-box .load div:nth-of-type(2){
    animation: secondBounce 1s ease .5s infinite alternate;
}
@keyframes secondBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}
.loader-box .load div:nth-of-type(3){
    animation: thirdBounce 1s ease 1s infinite alternate;
}
@keyframes thirdBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}
.loader-box .load div:nth-of-type(4){
    animation: fourthBounce 1s ease 1.5s infinite alternate;
}
@keyframes fourthBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}

.loader-box .load div:nth-of-type(5) {
    font-size: 28px;
    padding: 0 5px;
    color: #000000;
    display: inline;
}

/* coffee cup loading */
.loader-box .cup-box div:nth-of-type(1) {
    width: 150px;
    height: 150px;
    border: 10px solid black;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background: url('../images/coffee.png');
    background-repeat: repeat-x;
    background-position: 0 140px;
    animation: fill 4s ease-in-out infinite alternate;
}
@keyframes fill {
    0% {
        background-position: 0px 140px;
    }
    40%{
        background-position: -400px 60px;
    }
    80%{
        background-position: -800px 10px;
    }
    100% {
        background-position: -1000px -40px;      
    }
}
.loader-box .cup-box div:nth-of-type(2) {
    width: 50px;
    height: 50px;
    border: 8px solid black;
    margin-top: 20px;
    border-left: 0;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

.loader-finish {
    opacity: 0;
    pointer-events: none;
}