/****** base ********/
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
}
#main {
    background: radial-gradient(rgba(255, 255, 255, 0.05),rgba(0, 0, 0, 0.6)), url(images/seoul.jpg) center/cover no-repeat;
    background-attachment: fixed;
    /* clip-path: polygon(0 0, 100% 0,100% 80%, 0 100%); */
    color: white;
    width: 100%;
    height: 100%;  
}
#main:before {
    content:'';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/splash.jpg) center no-repeat;
    background-size: 1700px;
    mix-blend-mode: screen;
}
#about-me {
    position: relative;
    width: 90%;
    height: 90%;
    margin: auto;
    /* background-color: black; */
}
#projects {
    clear:both;
    width: 90%;
    margin: auto;

}

/* loading img */
.loader {
    background-color:  #ffffff;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    pointer-events: none;
}
.loader-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* 4dots loading */
.cup-box{
    display: flex;
    flex-direction: row;
   
}
.load {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.loader-box .load div:nth-of-type(1),
.loader-box .load div:nth-of-type(2),
.loader-box .load div:nth-of-type(3),
.loader-box .load div:nth-of-type(4) {
    background-color: #000000;
    margin: 0 6px;
    border-radius: 50%;  
    width: 20px;
    height: 20px;
}
.loader-box .load div:nth-of-type(1){
    animation: firstBounce 1s ease infinite alternate;
}
@keyframes firstBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}
.loader-box .load div:nth-of-type(2){
    animation: secondBounce 1s ease .5s infinite alternate;
}
@keyframes secondBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}
.loader-box .load div:nth-of-type(3){
    animation: thirdBounce 1s ease 1s infinite alternate;
}
@keyframes thirdBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}
.loader-box .load div:nth-of-type(4){
    animation: fourthBounce 1s ease 1.5s infinite alternate;
}
@keyframes fourthBounce {
    0% {
        transform: translateY(-40px);
    }
    100%{
        transform: translateY(0px);

    }
}

.loader-box .load div:nth-of-type(5) {
    font-size: 28px;
    padding: 0 5px;
    color: #000000;
    display: inline;
}

/* coffee cup loading */
.loader-box .cup-box div:nth-of-type(1) {
    width: 150px;
    height: 150px;
    border: 10px solid black;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background: url('./images/coffee.png');
    background-repeat: repeat-x;
    background-position: 0 140px;
    animation: fill 4s ease-in-out infinite alternate;
}
@keyframes fill {
    0% {
        background-position: 0px 140px;
    }
    40%{
        background-position: -400px 60px;
    }
    80%{
        background-position: -800px 10px;
    }
    100% {
        background-position: -1000px -40px;      
    }
}
.loader-box .cup-box div:nth-of-type(2) {
    width: 50px;
    height: 50px;
    border: 8px solid black;
    margin-top: 20px;
    border-left: 0;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

.loader-finish {
    opacity: 0;
    pointer-events: none;
}


/********* nav ************/
nav {
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: black;
    align-items: center;
    position: relative;
    z-index:1;
}
.toggle {
    background: black;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 16px;
    right: 30px;
    border-radius: 8px;
    cursor: pointer;   
}
.toggle:hover {
    box-shadow: 0 4px 10px black;
}
.lines {
    width: 25px;
    height: 5px;
    margin: 5px auto;
    background: white;
    border-radius: 5px;
}

.logo {
    display: inline-block;
    font-weight: 700;
    font-size: 30px;
    margin-left: 10%;
    padding: 5px;
}
.nav-box li {
    margin: 5px 12px;
    padding: 5px 10px;
}
.nav-box li a {
    color: black;
    padding: 5px 10px;
}
.nav-box li {  
    transition: transform .5s ease-in-out;
}
.nav-box li:hover {
    transform: translateY(-3px);
    text-shadow: 0 5px 10px black;
}
.nav-box li:first-child {
    border: 1px solid black;
    border-radius: 20px;
}
.nav-box li:first-child:hover {
box-shadow: 0 4px 10px black;
}
.nav-box li:first-child:active {
    transform: translateY(-1px);
    background-color: grey;
}


/*********** header ************/
header {
    position: relative;
    /* margin: 100px auto; */
    width: 400px;
    /* right: 100px; */
    /* animation-fill-mode: backwards; */
    animation: moveIn 2.2s ease-out 3.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes moveIn {
    0% {
        /* transform: translateX(100%); */
        opacity:0;
    }
    /* 80% {
        opacity: .4;
        /* transform: translateX(-3%); 
    } */
    100% {
        /* transform: translateX(0%); */
        opacity: 1;
    } 
} 
header h1 {
    font-weight: 800;
    padding: 10px;
}
header p {
    padding: 10px;
    text-align: left; 
    /* width: 70%; */
    /* margin: auto; */
    line-height: 1.6; 
}
.type::after {
    content:'';
    position: absolute;
    width: 2px;
    height: 34px;
    background: white;
    margin-left: 2px;
    animation: typing .8s linear infinite;
}
@keyframes typing {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/********* about me sections ********/
#projects h1 {
    padding: 30px 20px 30px;
}
/* .side-pic {
    display: block;
    margin-bottom: 60px;
} */
.moonEffect{
    overflow:hidden;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 60px 0;
}
.moonEffect h2{
    z-index: 1;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 36px;
}
.moon{
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    /* bottom: 30px; */
    top:50px;
    left: -90px;
}
.bg, .ground {
    position: absolute;
    width: 100%;
    height: 100%;
}
.ground{
    z-index:2;
    /* bottom:110px; */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}
.box {
    width: 100%;
    overflow: hidden;  
}
.box img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform .4s ease-out;
}
.box img:hover {
    transform: scale(1.2);
}


/*********** overlay ***********/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    pointer-events: none;
    transition: .5s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay h1 {
    position: absolute;
    color: white;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 25%);
}
.overlay img {
    position: absolute;
    width: 50%;
    height: 60%;
    opacity: 1;
    transition: .5s ease-out;
    transform-origin: center;
}
.overImg.open {
    transform: scale(1.2);
}
.overlay.open{
    opacity: 1;
    pointer-events: all;  
}

/* skills section */
#skills {
    width: 90%;
    margin: auto;
}
.grids {
    height: 100vh;
    margin-bottom: 150px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(autofill, 150px);
    grid-template-rows: repeat(autofill, 150px);
    grid-template-areas: 
        "a a b c c c"
        "e f b h h d"
        "e f i i i d"
        "g g g j j d";
    grid-gap: 3px;
    /* box-shadow: 0 10px 20px black; */
    background-color: black;
    /* border-radius: 10px; */
    /* border:3px solid black; */
}
#skills h1{
    margin: auto;
    padding: 30px 20px 30px;
}
.gridbox1 {
    background: white;
    grid-area: a;
}
.gridbox2 {
    background: white;
    grid-area: b;   
}
.gridbox3 {
    background: tomato;
    grid-area: c;
}
.gridbox4 {
    background: red;
    grid-area: d;
}
.gridbox5 {
    background: black;
    grid-area: e;   
}
.gridbox6 {
    background: tomato;
    grid-area: f;
}
.gridbox7 {
    background: lightcyan;
    grid-area: g;
}
.gridbox8 {
    background: lightsalmon;
    grid-area: h;   
}
.gridbox9 {
    background: lightpink;
    grid-area: i;
}
.gridbox10 {
    background: wheat;
    grid-area: j;
}
.overlays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    opacity: 0;
    background: radial-gradient(rgba(255, 255, 255, 0.596), 8%,rgba(0, 0, 0, 0.836));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
    transition: opacity .7s ease-in-out;
}
.overlays h3 {
    font-size: 24px;
    color: white;
    text-shadow: 0px 5px 5px pink;
    padding: 10px;
}
.overlays p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.692);
}
.boxs {
    position: relative;
    background-position: center;
    background-size: cover;
    /* border:1px solid black; */
    /* border-radius: 10px; */
    overflow: hidden;
}
.boxs img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    transition: transform .5s ease-in-out;
}
.boxs:hover img {
    transform: scale(1.2)
}
.boxs:hover .overlays {
    opacity: 1;
}



/************ submit form *************/
#login-form {
    height: 100vh;
    background: radial-gradient(rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.8) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 400px;
    padding: 20px;
    color:black;
}
.form label {
    padding: 5px;
}
.form h1 {
    padding: 10px;
}
.form input {
    padding: 5px;
    outline: none;
}
.form textarea {
    height: 100px;
    font-size: 20px;
    outline: none;
    padding: 5px;

}


/* dark mode button */
.btn {
    width: 40px;
    height: 70px;
    background: white;
    border: 1px solid black;
    border-radius: 22px;
    position: fixed;
    bottom: 10px;
    left:2%;
    cursor: pointer;
    z-index:10;
}
.btn:hover {
    box-shadow: 1px 1px 10px lightcoral;
}
.btn .btn-ball {
    width:30px;
    height: 30px;
    background-color: black;
    margin: 5px auto;
    border-radius: 50%;
    transition: transform .3s ease-out;
}
.btn .ball {
    transform: translateY(30px)
}
.all {
    background-color: black;
    color: white;
}
/********* button on right side ************/
.toTop {
    position: fixed;
    bottom: 10px;
    right: 2%;
    width: 40px;
    height: 40px;
    border-radius:50%;
    cursor: pointer;
    z-index:10;
}



/************  media query *************/
@media (min-width: 346px) {
    nav {
        flex-wrap: wrap;
        padding: 7px;
    }
    nav .nav-box2 {
        visibility: visible;
        height: 160px;
    }
    .logo {
        display: inline-block;
    }
    .nav-box {
        margin: auto;
        visibility: hidden;
        height: 0;
        transition: all .4s ease-out;
        overflow:hidden;
    }
    .nav-box li {
        text-align: center;
        line-height: 1.5;
    }
    header {
        text-align: center;
        /* margin: 220px auto; */
    }
    header p {
        text-align: center;
    }
    /* .side-pic {
        width: 300px;
        float: right;
    } */
    .moonEffect{
        width: 300px;
        float: right;
    }
    .text {
        margin: 20px auto; 
    }
    .text h1 {
        padding: 10px;
    }
    .text p {
        padding: 10px;
        line-height: 1.6;
    }
     .box {
        width: 100%;
        margin: auto;
    }
    #project {
        padding: 20px
    } 
}


@media (min-width: 769px){
    nav {
        display: flex;
        height: 65px;
        align-items: center;
    }
    header {
        position: relative;
        /* margin: 220px 60px; */
        /* float: right; */
        text-align: left;
    }
    .nav-box {
        display: flex;
        margin-right: 10%;
        visibility: visible;
        height: 45px;
    }
    #about-me {
       padding: 20px;
    }
    .toggle {
        display: none;
    }

    .text {
        float: left;
        width: 50%;
        margin: 60px auto;
    }
    .text  P {
        line-height: 2.2;
    }
    .side-pic {
        margin-top: 30px;
        float: right;
    }  
    .box {
        width: 49.5%;
    }
    .toggle {
        display: hidden;
    }
}
@media (min-width: 1024px) {
    .box {
        width: 33%;
        margin: auto;
    }
}