* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: 100vh;
}
#main {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(images/macbook-pro-129208.jpg) center/cover no-repeat;
    clip-path: polygon(0 0, 100% 0,100% 80%, 0 100%);
    color: white;
    width: 100%;
    height: 100%;
    
}
#about-me {
    width: 90%;
    margin: auto;
}
#projects {
    clear:both;
    width: 90%;
    margin: auto;

}



/* nav */
nav {
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}
.logo {
    font-weight: 700;
    font-size: 30px;
    margin-left: 10%;
}

.nav-box li {
    margin: 5px 20px;
    padding: 5px 10px;
}
.nav-box  li:hover {
    text-shadow: 0 5px 10px black;
}
.nav-box li:first-child {
    border: 1px solid black;
    border-radius: 20px;
}
.nav-box li a {
    color: black;
}
.nav-box li {  
    transition: transform .5s ease-in-out;
}
.nav-box li:hover {
    transform: translateY(-3px)
}
.nav-box li:first-child:hover {
box-shadow: 0 4px 10px black;
}
.nav-box li:first-child:active {
    transform: translateY(-1px);
    background-color: grey;
}


/* header */
header {
    margin: 100px auto;
    width: 400px;
}
header h1 {
    font-weight: 800;
    padding: 10px;
}
header p {
    padding: 10px;
    text-align: left; 
    line-height: 1.6;  
}
header {
    animation: moveIn 2s;
}
@keyframes moveIn {
    0% {
        transform: translateX(100%);
        opacity:0;
    }
    80% {
        opacity: .4;
        transform: translateX(-3%);
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* sections */
.side-pic {
    display: block;
    margin-bottom: 60px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
}
#projects h1 {
    padding: 30px 20px 30px;
}
.box {
    width: 100%;
}
.box img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}













/*       media query     */

@media (min-width: 346px) {
    nav {
        flex-wrap: wrap;
        height: 220px;
        line-height: 1.5;
    }
    .nav-box {
        margin: auto;
    }
    .nav-box li {
        text-align: center;
        line-height: 1.5;
    }
    .nav-box li:first-child {
        background-color: black;
    }
    
    .firstA:first-child {
        color: white;    
    }
    header {
        text-align: center;
    }
    header p {
        text-align: center;
    }
    .side-pic {
        width: 300px;
        float: right;
    }
    .text {
        margin: 20px auto; 
    }
    .text h1 {
        padding: 10px;
    }
    .text p {
        padding: 10px;
        line-height: 1.6;
    }
    #project {
        padding: 20px
    }  
    .box {
        width: 100%;
        margin: auto;
    }
    
}
@media (min-width: 769px){
    nav {
        display: flex;
        height: 60px;
    }
    .nav-box {
        display: flex;
        margin-right: 10%;
    }
    header {
        margin: 220px 40px;
        float: right;
        text-align: left;
    }
    #about-me {
       padding: 20px;
    }

    .text {
        float: left;
        width: 50%;
        margin: 60px auto;
    }
    .text  P {
        line-height: 2.2;
    }
    .side-pic {
        margin-top: 30px;
        float: right;
    }  
    .box {
        width: 49.5%;
    }
}
@media (min-width: 1024px) {
    .box {
        width: 33%;
        margin: auto;
    }
}